<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" href="/favicon.ico">
    <title>twitter-clone</title>
    <link href="{{ url_for('static', path='/css/chunk-03b63e09.130d80ef.css') }}" rel="prefetch">
    <link href="{{ url_for('static', path='/css/chunk-0420bcc4.d6bc3184.css') }}" rel="prefetch">
    <link href="{{ url_for('static', path='/css/chunk-732a3e8c.6334cd6b.css') }}" rel="prefetch">
    <link href="{{ url_for('static', path='/css/chunk-f896e3c6.c00c71ca.css') }}" rel="prefetch">
    <link href="{{ url_for('static', path='/js/chunk-03b63e09.9d805846.js') }}" rel="prefetch">
    <link href="{{ url_for('static', path='/js/chunk-0420bcc4.77329ea7.js') }}" rel="prefetch">
    <link href="{{ url_for('static', path='/js/chunk-500cde1e.e78628b2.js') }}" rel="prefetch">
    <link href="{{ url_for('static', path='/js/chunk-732a3e8c.d3cb80b2.js') }}" rel="prefetch">
    <link href="{{ url_for('static', path='/js/chunk-f896e3c6.03e4fd9f.js') }}" rel="prefetch">
    <link href="{{ url_for('static', path='/css/app.45d81840.css') }}" rel="preload" as="style">
    <link href="{{ url_for('static', path='/css/chunk-vendors.de691de6.css') }}" rel="preload" as="style">
    <link href="{{ url_for('static', path='/js/app.bc7950bb.js') }}" rel="preload" as="script">
    <link href="{{ url_for('static', path='/js/chunk-vendors.398321e0.js') }}" rel="preload" as="script">
    <link href="{{ url_for('static', path='/css/chunk-vendors.de691de6.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='/css/app.45d81840.css') }}" rel="stylesheet">
</head>
<body>
<noscript><strong>We're sorry but twitter-clone doesn't work properly without JavaScript enabled. Please enable it to
    continue.</strong></noscript>
<div id="app"></div>
<script src="{{ url_for('static', path='/js/chunk-vendors.398321e0.js') }}"></script>
<script src="{{ url_for('static', path='/js/app.bc7950bb.js') }}"></script>
</body>
</html>