DB_USER=<свои данные>
DB_PASSWORD=<свои данные>
DB_NAME=<свои данные>
DEBUG=<свои данные>
DB_HOST=postgres
DB_PORT=5432
SECRET_KEY=<свои данные>
ALGORITHM='HS256'
PGADMIN_EMAIL=<свои данные>
PGADMIN_PASSWORD=<свои данные>